<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <div class="box" id="heading">
    <h1><%= today %></h1>
  </div>
  <div class="box">
    <% if(data) { %>
      <% data.forEach(todo => { %>
        <form action="/delete" method="post"> 
      <div class="item">
        <input type="checkbox"  value="<%=todo._id%>" onChange="this.form.submit()"  name="checkbox">
        <p><%=  todo.name  %></p>
       
      </div>
        
    </form> 
        
      <% }) %>
        <% } %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus>
        <button class="sub" type="submit" name="list">+</button>
      </form>
  </div>


</body>

<footer>
 @ Anshul Ujjawal
</footer>

</html>
